<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com" defer></script>
  <title>$Title$</title>
</head>
<body>

<main layout:fragment="section" class="mx-auto w-2/3">
  <!--*  Header   *-->
  <header class=" bg-white border-b-2 border-y-0">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <span id="contacts" class="p-1 text-xl font-sm tracking-tight text-gray-400 cursor-pointer hover:text-orange-600">Contacts</span>
      <span id="groups" class="p-1 ml-8 text-xl font-sm tracking-tight text-gray-400 cursor-pointer hover:text-orange-600">Groups</span>
    </div>
  </header>
  <div class="py-6 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-y-4">
      <!--*   Display From DB   --->
      <div id="count_contact_group" class="ml-2 mb-12">
        <span id="count_db" class="text-5xl font-2xl text-gray-600" th:text="${contacts_count} + ' contacts'"></span>
      </div>
      <!--*   Utilities   -->
      <div id="utils" class="flex justify-between">

        <!--*   Filters   -->
        <div class="flex items-center justify-between gap-x-3" id="filters">
          <form method="get" th:action="@{/contacts/sort/date_creation}">
            <button type="submit" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-sm rounded-lg text-sm px-3 py-3 text-center inline-flex items-center gap-x-2">
              Date Creation
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
              </svg>
            </button>
          </form>


          <form method="get" th:action="@{/contacts/sort/genre}">
            <button type="submit" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-sm rounded-lg text-sm px-3 py-3 text-center inline-flex items-center gap-x-2">
              Genre
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
              </svg>
            </button>
          </form>

          <form method="get" th:action="@{/contacts/sort/groups}">
            <button type="submit" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-sm rounded-lg text-sm px-3 py-3 text-center inline-flex items-center gap-x-2">
              Groups
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
              </svg>
            </button>
          </form>

        </div>
        <!--*   Functionnalities  -->

        <div id="functions">
          <form class="inline" method="get" th:action="@{/contacts/export}">
            <button type="submit" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-sm rounded-lg text-sm mr-2 px-3 py-3 text-center inline-flex items-center gap-x-2">
              Export
              <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 576 512"><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V288H216c-13.3 0-24 10.7-24 24s10.7 24 24 24H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zM384 336V288H494.1l-39-39c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l80 80c9.4 9.4 9.4 24.6 0 33.9l-80 80c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l39-39H384zm0-208H256V0L384 128z"/></svg>
            </button>
          </form>


          <span class="border-r border-gray-300 py-3"></span>
          <form class="inline" method="get" th:action="@{/contacts/add}">
            <button type="submit" class="text-white bg-orange-500 hover:bg-orange-600 border border-gray-200 outline-none  font-sm rounded-lg text-sm ml-2 px-5 py-3 text-center inline-flex items-center gap-x-2">
              Create Contact
              <svg id="create-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>#create-svg{fill:#ffffff}</style><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg>
            </button>
          </form>

        </div>
      </div>

      <!--!               Table For Contacts            !-->


      <div class="relative overflow-x-auto sm:rounded-lg">
        <div class="flex items-center justify-between py-4 bg-white">
          <!--*   Searching Contacts   *-->
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <form method="get" th:action="@{/contacts/search/phonetique}">
              <input type="text" name="nom" id="table-search-contacts" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-64 bg-white focus:border-gray-500 outline-none" placeholder="Search for contacts">
            </form>
          </div>

          <!--*    Pagination   *-->

          <div id="pagination">
            <span class="text-gray-700 mr-1">Showing</span>
            <button id="pageCountContacts" data-dropdown-toggle="dropdownAction" class="inline-flex items-center text-gray-500 text-sm font-bold bg-gray-100 border border-gray-200 outline-none rounded-lg px-1 py-1" type="button" th:text="${contacts_count/10 > 1 ? 10 : contacts_count }">
              <svg class="w-3 h-3 ml-1" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </button>
            <span class="text-gray-700 mr-1">of </span>
            <span id="totalPageResult" class="text-gray-700 text-medium font-semibold" th:text="${contacts_count}"></span>
            <span>results</span>
          </div>
        </div>


        <!--   Table Of Contacts -->
        <div class="max-h-96 overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200">
          <table class="scrollable-table w-full text-sm text-left text-gray-500 table-auto">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="sticky-th bg-gray-100 ">
              <th scope="col" class="p-4">
                <div class="flex items-center">
                  <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                </div>
              </th>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Telephone
              </th>
              <th scope="col" class="px-6 py-3">
                Group
              </th>
              <th scope="col" class="px-6 py-3">
                Gender
              </th>
              <th scope="col" class="px-6 py-3">
                Action
              </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${contacts}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input id="checkbox-table-search-2" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">

                </div>
              </td>
              <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

                <div class="pl-3">
                  <div class="text-base font-semibold" th:text="${c.getPrenom() + ' ' + c.getNom()}"></div>
                  <div class="font-normal text-gray-500" th:text="${c.getEmailPersonnel()}"></div>
                </div>
              </th>
              <td class="px-6 py-4">
                <div class="font-normal text-gray-500" th:text="${c.getTelephonePersonnel()}"></div>
                <div class="font-normal text-gray-500" th:text="${c.getEmailProfessionnel()}"></div>
              </td>
              <td class="px-6 py-4">
                <div class="font-normal text-gray-500" th:text="${c.getGroupName() == null ? 'none' : c.getGroupName()}"></div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <div th:classappend="${c.getGenre().toLowerCase() == 'male' ? 'h-2.5 w-2.5 rounded-full bg-blue-500 mr-2' : 'h-2.5 w-2.5 rounded-full bg-pink-500 mr-2' }" ></div>
                </div>
              </td>
              <td class="flex flex-col gap-y-2 px-6 py-4">
                <!-- Modal toggle -->
                <a th:href="@{/contacts/edit?Id={Id}(Id=${c.getId()})}" type="button" data-modal-show="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                <a th:href="@{/contacts/delete?Id={Id}(Id=${c.getId()})}" type="button" data-modal-show="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</main>
</body>


</html>